<div class="container relative">
  <div class="pure-g relative">
    <div class="pure-u-1">
      <div class="intro">
        <div class="intro-text">
          <h2>How to Complete This Exercise</h2>
          <p>
            This exercise contains {{data.scenarios.length}} scenario<span ng-if="data.scenarios.length > 1">s</span> for you to explore. <span ng-if="data.scenarios.length > 1">These scenarios should be attempted in numerical order (Scenario 1, Scenario 2, etc.).</span>
          </p>
          <p>
            Each scenario has follow-up questions. After completing these questions, you will be given an answer code to submit in WebCampus. <strong>When you are done, you should have a total of {{data.scenarios.length}} answer code<span ng-if="data.scenarios.length > 1">s&mdash;one for each scenario</span></strong>.
          </p>
          <h2>Scenario Introduction</h2>
          <p>
            Look at Figure 14-1 on p. 237 of McGonigle and Mastrian. Part of the workflow process for the ED shows a decision point as to whether a bed is available. Assume that your hospital has been experiencing a large buildup of patients in its emergency department (ED) because there are no beds indicated as available. However, you note that there are several empty rooms on your floor. You decide to run a report showing the length of time that occurs between when a patient is discharged and when housekeeping enters a code that signals to admitting that the room has been cleaned and is available for occupancy. Click on the hotspot to see the report. 
          </p>
        </div>
        <p>
          <a class="pure-button pure-button-primary begin" href="#/overview">Begin Exercise</a>
        </p>
      </div>
    </div>
  </div>
</div>