<table class="scenario1 pure-table pure-table-bordered">
  <thead>
    <tr>
      <th rowspan="2">
        &nbsp;
      </th>
      <th rowspan="2">
        # Total
      </th>
      <th rowspan="2">
        % Total
      </th>
      <th class="colspan" colspan="4">
        Domestic
      </th>
    </tr>
    <tr>
      <th>
        # First Time
      </th>
      <th>
        % First Time
      </th>
      <th>
        # Repeat
      </th>
      <th>
        % Repeat
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        # Delivered
      </td>
      <td>
        67
      </td>
      <td>
        100%
      </td>
      <td>
        48
      </td>
      <td>
        71.64%
      </td>
      <td>
        19
      </td>
      <td>
        28.36%
      </td>
    </tr>
    <tr>
      <td>
        # Passed
      </td>
      <td>
        44
      </td>
      <td>
        65.67%
      </td>
      <td>
        36
      </td>
      <td>
        75.00%
      </td>
      <td>
        8
      </td>
      <td>
        42.11%
      </td>
    </tr>
    <tr>
      <td>
        # Faked
      </td>
      <td>
        23
      </td>
      <td>
        34.33%
      </td>
      <td>
        12
      </td>
      <td>
        25.00%
      </td>
      <td>
        11
      </td>
      <td>
        57.89%
      </td>
    </tr>
    <tr>
      <td>
        # On Hold
      </td>
      <td>
        0
      </td>
      <td>
        0.00%
      </td>
      <td>
        0
      </td>
      <td>
        0.00%
      </td>
      <td>
        0
      </td>
      <td>
        0.00%
      </td>
    </tr>
    <tr>
      <td>
        # In Process
      </td>
      <td>
        0
      </td>
      <td>
        0.00%
      </td>
      <td>
        0
      </td>
      <td>
        0.00%
      </td>
      <td>
        0
      </td>
      <td>
        0.00%
      </td>
    </tr>
  </tbody>
</table>