<div class="container relative">
  <div class="pure-g relative">
    <div class="pure-u-1">
      <div class="intro">
        <div class="intro-text">
          <h2>How to Complete This Exercise</h2>
          <p>
            This exercise contains {{data.scenarios.length}} scenario<span ng-if="data.scenarios.length > 1">s</span> for you to explore. <span ng-if="data.scenarios.length > 1">These scenarios should be attempted in numerical order (Scenario 1, Scenario 2, etc.).</span>
          </p>
          <p>
            Each scenario has follow-up questions. After completing these questions, you will be given an answer code to submit in WebCampus. <strong>When you are done, you should have a total of {{data.scenarios.length}} answer code<span ng-if="data.scenarios.length > 1">s&mdash;one for each scenario</span></strong>.
          </p>
          <h2>Scenario Introduction</h2>
          <p>
            Nurses practice at different levels of informatics competence, according to Staggers et al., 2002. (See pdf of final level of competencies in Articles folder.) To transition to knowledge workers, nurses will have to expand their competencies, while nursing schools will have to incorporate them as learning outcomes in their curricula.  Please note there is a URL in the text on p. 101 that is outdated for Nursing Interventions Classification System (NIC) and Nursing Outcomes Classification (NIC/NOC).  The correct URL is in your syllabus under Week 2. 
          </p>
        </div>
        <p>
          <a class="pure-button pure-button-primary begin" href="#/overview">Begin Exercise</a>
        </p>
      </div>
    </div>
  </div>
</div>